* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #722f9b;
  bottom: 0;
  color: white;
  line-height: 40px;
  left: 0;
  text-align: center;
  position: fixed;
  width: 100%;
}
